body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u5104 {
  position:absolute;
  left:88px;
  top:20px;
  width:144px;
  height:51px;
}
#u5105 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5106 {
  position:absolute;
  left:89px;
  top:101px;
  width:245px;
  height:34px;
}
#u5106_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:251px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5107 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:39px;
}
#u5108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
}
#u5108 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
  font-size:12px;
  color:#000000;
}
#u5108_img.mouseOver {
}
#u5108.mouseOver {
}
#u5108_img.selected {
}
#u5108.selected {
}
#u5109 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u5110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
}
#u5110 {
  position:absolute;
  left:126px;
  top:0px;
  width:119px;
  height:34px;
  font-size:12px;
  color:#000000;
}
#u5110_img.mouseOver {
}
#u5110.mouseOver {
}
#u5110_img.selected {
}
#u5110.selected {
}
#u5111 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u5112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5112 {
  position:absolute;
  left:89px;
  top:173px;
  width:96px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5113 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u5114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:777px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5114 {
  position:absolute;
  left:89px;
  top:254px;
  width:842px;
  height:777px;
}
#u5115 {
  position:absolute;
  left:2px;
  top:380px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:53px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5116 {
  position:absolute;
  left:89px;
  top:1091px;
  width:842px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5117 {
  position:absolute;
  left:2px;
  top:18px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:12px;
}
#u5118 {
  position:absolute;
  left:708px;
  top:1167px;
  width:223px;
  height:12px;
  font-size:14px;
}
#u5119 {
  position:absolute;
  left:2px;
  top:-2px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5120 {
  position:absolute;
  left:162px;
  top:1110px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5121 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5122 {
  position:absolute;
  left:300px;
  top:1110px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5123 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5124 {
  position:absolute;
  left:448px;
  top:1110px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5125 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5126 {
  position:absolute;
  left:615px;
  top:1110px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5127 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5128 {
  position:absolute;
  left:787px;
  top:1110px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5129 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5131 {
  position:absolute;
  left:882px;
  top:42px;
  width:40px;
  height:40px;
}
#u5132 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5133 {
  position:absolute;
  left:892px;
  top:51px;
  width:21px;
  height:21px;
  color:#CCCCCC;
}
#u5134 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5136 {
  position:absolute;
  left:835px;
  top:42px;
  width:40px;
  height:40px;
}
#u5137 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5138 {
  position:absolute;
  left:840px;
  top:46px;
  width:30px;
  height:30px;
}
#u5139 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u5146 {
  position:absolute;
  left:645px;
  top:47px;
  width:170px;
  height:30px;
  font-size:14px;
}
#u5147 {
  position:absolute;
  left:15px;
  top:7px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5148 {
  position:absolute;
  left:648px;
  top:50px;
  width:164px;
  height:24px;
}
#u5148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:24px;
  background-color:#E3D9EF;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u5149 {
  position:absolute;
  left:794px;
  top:53px;
  width:15px;
  height:17px;
}
#u5150 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u5151 {
  position:absolute;
  left:825px;
  top:86px;
  width:51px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u5152 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u5153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u5153 {
  position:absolute;
  left:876px;
  top:86px;
  width:55px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u5154 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u5155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#571D9E;
  text-align:left;
}
#u5155 {
  position:absolute;
  left:621px;
  top:87px;
  width:301px;
  height:128px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#571D9E;
  text-align:left;
}
#u5156 {
  position:absolute;
  left:30px;
  top:8px;
  width:251px;
  word-wrap:break-word;
}
