body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:739px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:671px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7184 {
  position:absolute;
  left:20px;
  top:207px;
  width:719px;
  height:671px;
}
#u7185 {
  position:absolute;
  left:2px;
  top:328px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:523px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(205, 188, 226, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7186 {
  position:absolute;
  left:20px;
  top:273px;
  width:719px;
  height:523px;
}
#u7187 {
  position:absolute;
  left:2px;
  top:254px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:45px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7188 {
  position:absolute;
  left:20px;
  top:888px;
  width:719px;
  height:45px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7189 {
  position:absolute;
  left:2px;
  top:14px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:11px;
}
#u7190 {
  position:absolute;
  left:549px;
  top:951px;
  width:190px;
  height:11px;
  font-size:14px;
}
#u7191 {
  position:absolute;
  left:2px;
  top:-2px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7192 {
  position:absolute;
  left:46px;
  top:906px;
  width:80px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7193 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7194 {
  position:absolute;
  left:203px;
  top:902px;
  width:75px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7195 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7196 {
  position:absolute;
  left:320px;
  top:902px;
  width:75px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7197 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7198 {
  position:absolute;
  left:440px;
  top:902px;
  width:75px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7199 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7200 {
  position:absolute;
  left:578px;
  top:902px;
  width:75px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7201 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:56px;
  background:inherit;
  background-color:rgba(223, 176, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7202 {
  position:absolute;
  left:20px;
  top:207px;
  width:719px;
  height:56px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7202_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 0, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u7202.mouseOver {
}
#u7203 {
  position:absolute;
  left:0px;
  top:16px;
  width:719px;
  word-wrap:break-word;
}
#u7204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:56px;
  background:inherit;
  background-color:rgba(223, 176, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7204 {
  position:absolute;
  left:20px;
  top:273px;
  width:719px;
  height:56px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7204_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 0, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7204.mouseOver {
}
#u7205 {
  position:absolute;
  left:0px;
  top:16px;
  width:719px;
  word-wrap:break-word;
}
#u7206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:56px;
  background:inherit;
  background-color:rgba(223, 176, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7206 {
  position:absolute;
  left:20px;
  top:796px;
  width:719px;
  height:56px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7206_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 0, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7206.mouseOver {
}
#u7207 {
  position:absolute;
  left:0px;
  top:16px;
  width:719px;
  word-wrap:break-word;
}
#u7208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7208 {
  position:absolute;
  left:122px;
  top:701px;
  width:154px;
  height:26px;
}
#u7209 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u7210 {
  position:absolute;
  left:288px;
  top:700px;
  width:227px;
  height:27px;
}
#u7210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7210_input:disabled {
  color:grayText;
}
#u7211 {
  position:absolute;
  left:286px;
  top:379px;
  width:225px;
  height:27px;
}
#u7211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7211_input:disabled {
  color:grayText;
}
#u7212 {
  position:absolute;
  left:288px;
  top:738px;
  width:227px;
  height:25px;
}
#u7212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7213 {
  position:absolute;
  left:122px;
  top:484px;
  width:154px;
  height:26px;
}
#u7214 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u7215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7215 {
  position:absolute;
  left:122px;
  top:518px;
  width:154px;
  height:26px;
}
#u7216 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u7217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7217 {
  position:absolute;
  left:122px;
  top:552px;
  width:154px;
  height:26px;
}
#u7218 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u7219 {
  position:absolute;
  left:286px;
  top:555px;
  width:225px;
  height:27px;
}
#u7219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7219_input:disabled {
  color:grayText;
}
#u7220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7220 {
  position:absolute;
  left:122px;
  top:590px;
  width:154px;
  height:26px;
}
#u7221 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u7222 {
  position:absolute;
  left:286px;
  top:591px;
  width:225px;
  height:27px;
}
#u7222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7222_input:disabled {
  color:grayText;
}
#u7223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7223 {
  position:absolute;
  left:122px;
  top:629px;
  width:154px;
  height:26px;
}
#u7224 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u7225 {
  position:absolute;
  left:288px;
  top:628px;
  width:227px;
  height:27px;
}
#u7225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7225_input:disabled {
  color:grayText;
}
#u7226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7226 {
  position:absolute;
  left:122px;
  top:665px;
  width:154px;
  height:26px;
}
#u7227 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u7228 {
  position:absolute;
  left:288px;
  top:665px;
  width:227px;
  height:27px;
}
#u7228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7228_input:disabled {
  color:grayText;
}
#u7229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7229 {
  position:absolute;
  left:122px;
  top:378px;
  width:154px;
  height:26px;
}
#u7230 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u7231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7231 {
  position:absolute;
  left:122px;
  top:413px;
  width:154px;
  height:26px;
}
#u7232 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u7233 {
  position:absolute;
  left:286px;
  top:416px;
  width:225px;
  height:25px;
}
#u7233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7234 {
  position:absolute;
  left:286px;
  top:453px;
  width:225px;
  height:25px;
}
#u7234_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7235 {
  position:absolute;
  left:122px;
  top:451px;
  width:154px;
  height:26px;
}
#u7236 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u7237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7237 {
  position:absolute;
  left:122px;
  top:740px;
  width:154px;
  height:26px;
}
#u7238 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u7239 {
  position:absolute;
  left:286px;
  top:487px;
  width:225px;
  height:25px;
}
#u7239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7240 {
  position:absolute;
  left:286px;
  top:521px;
  width:225px;
  height:25px;
}
#u7240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u7241 {
  position:absolute;
  left:50px;
  top:812px;
  width:31px;
  height:24px;
}
#u7242 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
}
#u7243 {
  position:absolute;
  left:50px;
  top:287px;
  width:31px;
  height:28px;
}
#u7244 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
}
#u7245 {
  position:absolute;
  left:50px;
  top:221px;
  width:31px;
  height:28px;
}
#u7246 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u7247 {
  position:absolute;
  left:20px;
  top:20px;
  width:144px;
  height:51px;
}
#u7248 {
  position:absolute;
  left:0px;
  top:16px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7249 {
  position:absolute;
  left:20px;
  top:127px;
  width:167px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u7250 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
