body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:777px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:81px;
  top:282px;
  width:842px;
  height:777px;
}
#u87 {
  position:absolute;
  left:2px;
  top:380px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u88 {
  position:absolute;
  left:74px;
  top:29px;
  width:144px;
  height:51px;
}
#u89 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u91 {
  position:absolute;
  left:883px;
  top:37px;
  width:40px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u93 {
  position:absolute;
  left:893px;
  top:46px;
  width:21px;
  height:21px;
  color:#CCCCCC;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u96 {
  position:absolute;
  left:836px;
  top:37px;
  width:40px;
  height:40px;
}
#u97 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u98 {
  position:absolute;
  left:841px;
  top:41px;
  width:30px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u107 {
  position:absolute;
  left:646px;
  top:42px;
  width:170px;
  height:30px;
  font-size:14px;
}
#u108 {
  position:absolute;
  left:15px;
  top:7px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:649px;
  top:45px;
  width:164px;
  height:24px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:24px;
  background-color:#E3D9EF;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u110 {
  position:absolute;
  left:795px;
  top:48px;
  width:15px;
  height:17px;
}
#u111 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:81px;
  top:111px;
  width:622px;
  height:37px;
}
#u112_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:628px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:42px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
  font-size:12px;
}
#u114_img.mouseOver {
}
#u114.mouseOver {
}
#u114_img.selected {
}
#u114.selected {
}
#u115 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u116 {
  position:absolute;
  left:90px;
  top:0px;
  width:100px;
  height:37px;
  font-size:12px;
}
#u116_img.mouseOver {
}
#u116.mouseOver {
}
#u116_img.selected {
}
#u116.selected {
}
#u117 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u118 {
  position:absolute;
  left:190px;
  top:0px;
  width:100px;
  height:37px;
  font-size:12px;
}
#u118_img.mouseOver {
}
#u118.mouseOver {
}
#u118_img.selected {
}
#u118.selected {
}
#u119 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
}
#u120 {
  position:absolute;
  left:290px;
  top:0px;
  width:106px;
  height:37px;
  font-size:12px;
}
#u120_img.mouseOver {
}
#u120.mouseOver {
}
#u120_img.selected {
}
#u120.selected {
}
#u121 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u122 {
  position:absolute;
  left:396px;
  top:0px;
  width:94px;
  height:37px;
  font-size:12px;
}
#u122_img.mouseOver {
}
#u122.mouseOver {
}
#u122_img.selected {
}
#u122.selected {
}
#u123 {
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u124 {
  position:absolute;
  left:490px;
  top:0px;
  width:132px;
  height:37px;
  font-size:12px;
}
#u124_img.mouseOver {
}
#u124.mouseOver {
}
#u124_img.selected {
}
#u124.selected {
}
#u125 {
  position:absolute;
  left:2px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:396px;
  top:37px;
  width:121px;
  height:74px;
  visibility:hidden;
}
#u126_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:127px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:79px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u128_img.mouseOver {
}
#u128.mouseOver {
}
#u128_img.selected {
}
#u128.selected {
}
#u129 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u130 {
  position:absolute;
  left:0px;
  top:37px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u130_img.mouseOver {
}
#u130.mouseOver {
}
#u130_img.selected {
}
#u130.selected {
}
#u131 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:121px;
  top:0px;
  width:121px;
  height:74px;
  visibility:hidden;
}
#u132_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:127px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:79px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u134_img.mouseOver {
}
#u134.mouseOver {
}
#u134_img.selected {
}
#u134.selected {
}
#u135 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u136 {
  position:absolute;
  left:0px;
  top:37px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u136_img.mouseOver {
}
#u136.mouseOver {
}
#u136_img.selected {
}
#u136.selected {
}
#u137 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:121px;
  top:37px;
  width:121px;
  height:259px;
  visibility:hidden;
}
#u138_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:127px;
  height:265px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:264px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u140_img.mouseOver {
}
#u140.mouseOver {
}
#u140_img.selected {
}
#u140.selected {
}
#u141 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u142 {
  position:absolute;
  left:0px;
  top:37px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u142_img.mouseOver {
}
#u142.mouseOver {
}
#u142_img.selected {
}
#u142.selected {
}
#u143 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u144 {
  position:absolute;
  left:0px;
  top:74px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u144_img.mouseOver {
}
#u144.mouseOver {
}
#u144_img.selected {
}
#u144.selected {
}
#u145 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u146 {
  position:absolute;
  left:0px;
  top:111px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u146_img.mouseOver {
}
#u146.mouseOver {
}
#u146_img.selected {
}
#u146.selected {
}
#u147 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u148 {
  position:absolute;
  left:0px;
  top:148px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u148_img.mouseOver {
}
#u148.mouseOver {
}
#u148_img.selected {
}
#u148.selected {
}
#u149 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u150 {
  position:absolute;
  left:0px;
  top:185px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u150_img.mouseOver {
}
#u150.mouseOver {
}
#u150_img.selected {
}
#u150.selected {
}
#u151 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u152 {
  position:absolute;
  left:0px;
  top:222px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u152_img.mouseOver {
}
#u152.mouseOver {
}
#u152_img.selected {
}
#u152.selected {
}
#u153 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:90px;
  top:37px;
  width:113px;
  height:185px;
  visibility:hidden;
}
#u154_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:119px;
  height:191px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:190px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u156_img.mouseOver {
}
#u156.mouseOver {
}
#u156_img.selected {
}
#u156.selected {
}
#u157 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u158 {
  position:absolute;
  left:0px;
  top:37px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u158_img.mouseOver {
}
#u158.mouseOver {
}
#u158_img.selected {
}
#u158.selected {
}
#u159 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u160 {
  position:absolute;
  left:0px;
  top:74px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u160_img.mouseOver {
}
#u160.mouseOver {
}
#u160_img.selected {
}
#u160.selected {
}
#u161 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u162 {
  position:absolute;
  left:0px;
  top:111px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u162_img.mouseOver {
}
#u162.mouseOver {
}
#u162_img.selected {
}
#u162.selected {
}
#u163 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u164 {
  position:absolute;
  left:0px;
  top:148px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u164_img.mouseOver {
}
#u164.mouseOver {
}
#u164_img.selected {
}
#u164.selected {
}
#u165 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:81px;
  top:190px;
  width:66px;
  height:33px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background-color:#E3D9EF;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u166_input:disabled {
  color:grayText;
}
#u167 {
  position:absolute;
  left:157px;
  top:190px;
  width:228px;
  height:33px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:33px;
  background-color:#E3D9EF;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u167_input:disabled {
  color:grayText;
}
#u168 {
  position:absolute;
  left:408px;
  top:190px;
  width:228px;
  height:33px;
}
#u168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:33px;
  background-color:#E3D9EF;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u168_input:disabled {
  color:grayText;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u169 {
  position:absolute;
  left:829px;
  top:77px;
  width:51px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u171 {
  position:absolute;
  left:880px;
  top:77px;
  width:43px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:53px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u173 {
  position:absolute;
  left:81px;
  top:1119px;
  width:842px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u174 {
  position:absolute;
  left:2px;
  top:18px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:12px;
}
#u175 {
  position:absolute;
  left:700px;
  top:1195px;
  width:223px;
  height:12px;
  font-size:14px;
}
#u176 {
  position:absolute;
  left:2px;
  top:-2px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u177 {
  position:absolute;
  left:154px;
  top:1138px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u179 {
  position:absolute;
  left:292px;
  top:1138px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u181 {
  position:absolute;
  left:440px;
  top:1138px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u183 {
  position:absolute;
  left:607px;
  top:1138px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u185 {
  position:absolute;
  left:779px;
  top:1138px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:144px;
  background:inherit;
  background-color:rgba(227, 217, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u187 {
  position:absolute;
  left:614px;
  top:79px;
  width:309px;
  height:144px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u188 {
  position:absolute;
  left:35px;
  top:16px;
  width:254px;
  word-wrap:break-word;
}
