body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u0 {
  position:absolute;
  left:88px;
  top:20px;
  width:144px;
  height:51px;
}
#u1 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u3 {
  position:absolute;
  left:88px;
  top:186px;
  width:666px;
  height:220px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u4 {
  position:absolute;
  left:2px;
  top:28px;
  width:662px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5 {
  position:absolute;
  left:372px;
  top:372px;
  width:10px;
  height:10px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7 {
  position:absolute;
  left:385px;
  top:372px;
  width:10px;
  height:10px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:197px;
}
#u9 {
  position:absolute;
  left:93px;
  top:208px;
  width:296px;
  height:197px;
}
#u10 {
  position:absolute;
  left:2px;
  top:90px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:57px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:88px;
  top:1001px;
  width:673px;
  height:57px;
  font-size:14px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:2px;
  top:20px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:16px;
}
#u13 {
  position:absolute;
  left:122px;
  top:1018px;
  width:599px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:89px;
  top:100px;
  width:661px;
  height:37px;
}
#u17_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:667px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:42px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_img.selected {
}
#u19.selected {
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u21 {
  position:absolute;
  left:101px;
  top:0px;
  width:71px;
  height:37px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_img.selected {
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u23 {
  position:absolute;
  left:172px;
  top:0px;
  width:120px;
  height:37px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_img.selected {
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u25 {
  position:absolute;
  left:292px;
  top:0px;
  width:171px;
  height:37px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:37px;
}
#u27 {
  position:absolute;
  left:463px;
  top:0px;
  width:104px;
  height:37px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u27_img.selected {
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u29 {
  position:absolute;
  left:567px;
  top:0px;
  width:94px;
  height:37px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u29_img.selected {
}
#u29.selected {
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:14px;
}
#u31 {
  position:absolute;
  left:501px;
  top:1088px;
  width:253px;
  height:14px;
  font-size:14px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-1px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  position:absolute;
  left:662px;
  top:38px;
  width:88px;
  height:26px;
}
#u34 {
  position:absolute;
  left:2px;
  top:5px;
  width:84px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
  background:inherit;
  background-color:rgba(227, 217, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:427px;
  top:111px;
  width:216px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
  background:inherit;
  background-color:rgba(227, 217, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:89px;
  top:100px;
  width:661px;
  height:37px;
}
#u37_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:667px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:42px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
  font-size:12px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:2px;
  top:11px;
  width:97px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u41 {
  position:absolute;
  left:101px;
  top:0px;
  width:71px;
  height:37px;
  font-size:12px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u41_img.selected {
}
#u41.selected {
}
#u42 {
  position:absolute;
  left:2px;
  top:11px;
  width:67px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u43 {
  position:absolute;
  left:172px;
  top:0px;
  width:120px;
  height:37px;
  font-size:12px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_img.selected {
}
#u43.selected {
}
#u44 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u45 {
  position:absolute;
  left:292px;
  top:0px;
  width:171px;
  height:37px;
  font-size:12px;
  text-align:right;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u45_img.selected {
}
#u45.selected {
}
#u46 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:37px;
}
#u47 {
  position:absolute;
  left:463px;
  top:0px;
  width:104px;
  height:37px;
  font-size:12px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u47_img.selected {
}
#u47.selected {
}
#u48 {
  position:absolute;
  left:2px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u49 {
  position:absolute;
  left:567px;
  top:0px;
  width:94px;
  height:37px;
  font-size:12px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u49_img.selected {
}
#u49.selected {
}
#u50 {
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
