body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:933px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u5163 {
  position:absolute;
  left:86px;
  top:10px;
  width:144px;
  height:51px;
}
#u5164 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5165 {
  position:absolute;
  left:91px;
  top:101px;
  width:111px;
  height:34px;
}
#u5165_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:117px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5166 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:39px;
}
#u5167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
}
#u5167 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  font-size:12px;
}
#u5167_img.mouseOver {
}
#u5167.mouseOver {
}
#u5167_img.selected {
}
#u5167.selected {
}
#u5168 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u5169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5169 {
  position:absolute;
  left:91px;
  top:151px;
  width:208px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5170 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u5171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5172 {
  position:absolute;
  left:882px;
  top:37px;
  width:40px;
  height:40px;
}
#u5173 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5174 {
  position:absolute;
  left:892px;
  top:46px;
  width:21px;
  height:21px;
  color:#CCCCCC;
}
#u5175 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5177 {
  position:absolute;
  left:835px;
  top:37px;
  width:40px;
  height:40px;
}
#u5178 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5179 {
  position:absolute;
  left:840px;
  top:41px;
  width:30px;
  height:30px;
}
#u5180 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u5187 {
  position:absolute;
  left:645px;
  top:42px;
  width:170px;
  height:30px;
  font-size:14px;
}
#u5188 {
  position:absolute;
  left:15px;
  top:7px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5189 {
  position:absolute;
  left:648px;
  top:45px;
  width:164px;
  height:24px;
}
#u5189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:24px;
  background-color:#E3D9EF;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u5190 {
  position:absolute;
  left:794px;
  top:48px;
  width:15px;
  height:17px;
}
#u5191 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u5192 {
  position:absolute;
  left:825px;
  top:81px;
  width:51px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u5193 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u5194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u5194 {
  position:absolute;
  left:876px;
  top:81px;
  width:55px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u5195 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u5196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#571D9E;
  text-align:left;
}
#u5196 {
  position:absolute;
  left:621px;
  top:82px;
  width:301px;
  height:128px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#571D9E;
  text-align:left;
}
#u5197 {
  position:absolute;
  left:30px;
  top:8px;
  width:251px;
  word-wrap:break-word;
}
#u5204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:777px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5204 {
  position:absolute;
  left:91px;
  top:241px;
  width:842px;
  height:777px;
}
#u5205 {
  position:absolute;
  left:2px;
  top:380px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:53px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5206 {
  position:absolute;
  left:91px;
  top:1078px;
  width:842px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5207 {
  position:absolute;
  left:2px;
  top:18px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:12px;
}
#u5208 {
  position:absolute;
  left:710px;
  top:1154px;
  width:223px;
  height:12px;
  font-size:14px;
}
#u5209 {
  position:absolute;
  left:2px;
  top:-2px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5210 {
  position:absolute;
  left:164px;
  top:1097px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5211 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5212 {
  position:absolute;
  left:302px;
  top:1097px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5213 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5214 {
  position:absolute;
  left:450px;
  top:1097px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5215 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5216 {
  position:absolute;
  left:617px;
  top:1097px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5217 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5218 {
  position:absolute;
  left:789px;
  top:1097px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5219 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
