body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:933px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u5229 {
  position:absolute;
  left:86px;
  top:10px;
  width:144px;
  height:51px;
}
#u5230 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5231 {
  position:absolute;
  left:91px;
  top:101px;
  width:111px;
  height:34px;
}
#u5231_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:117px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5232 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:39px;
}
#u5233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
}
#u5233 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  font-size:12px;
}
#u5233_img.mouseOver {
}
#u5233.mouseOver {
}
#u5233_img.selected {
}
#u5233.selected {
}
#u5234 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u5235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5235 {
  position:absolute;
  left:91px;
  top:151px;
  width:208px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5236 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u5237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5238 {
  position:absolute;
  left:882px;
  top:37px;
  width:40px;
  height:40px;
}
#u5239 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5240 {
  position:absolute;
  left:892px;
  top:46px;
  width:21px;
  height:21px;
  color:#CCCCCC;
}
#u5241 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5243 {
  position:absolute;
  left:835px;
  top:37px;
  width:40px;
  height:40px;
}
#u5244 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5245 {
  position:absolute;
  left:840px;
  top:41px;
  width:30px;
  height:30px;
}
#u5246 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u5253 {
  position:absolute;
  left:645px;
  top:42px;
  width:170px;
  height:30px;
  font-size:14px;
}
#u5254 {
  position:absolute;
  left:15px;
  top:7px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5255 {
  position:absolute;
  left:648px;
  top:45px;
  width:164px;
  height:24px;
}
#u5255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:24px;
  background-color:#E3D9EF;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u5256 {
  position:absolute;
  left:794px;
  top:48px;
  width:15px;
  height:17px;
}
#u5257 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u5258 {
  position:absolute;
  left:825px;
  top:81px;
  width:51px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u5259 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u5260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u5260 {
  position:absolute;
  left:876px;
  top:81px;
  width:55px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u5261 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u5262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:128px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#571D9E;
  text-align:left;
}
#u5262 {
  position:absolute;
  left:621px;
  top:82px;
  width:301px;
  height:128px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#571D9E;
  text-align:left;
}
#u5263 {
  position:absolute;
  left:30px;
  top:8px;
  width:251px;
  word-wrap:break-word;
}
#u5270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:777px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5270 {
  position:absolute;
  left:91px;
  top:241px;
  width:842px;
  height:777px;
}
#u5271 {
  position:absolute;
  left:2px;
  top:380px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:53px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5272 {
  position:absolute;
  left:91px;
  top:1078px;
  width:842px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5273 {
  position:absolute;
  left:2px;
  top:18px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:12px;
}
#u5274 {
  position:absolute;
  left:710px;
  top:1154px;
  width:223px;
  height:12px;
  font-size:14px;
}
#u5275 {
  position:absolute;
  left:2px;
  top:-2px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5276 {
  position:absolute;
  left:164px;
  top:1097px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5277 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5278 {
  position:absolute;
  left:302px;
  top:1097px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5279 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5280 {
  position:absolute;
  left:450px;
  top:1097px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5281 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5282 {
  position:absolute;
  left:617px;
  top:1097px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5283 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5284 {
  position:absolute;
  left:789px;
  top:1097px;
  width:110px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5285 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
