body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2143px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4836 {
  position:absolute;
  left:750px;
  top:84px;
  width:159px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4837 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u4838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4838 {
  position:absolute;
  left:750px;
  top:158px;
  width:159px;
  height:42px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4839 {
  position:absolute;
  left:2px;
  top:13px;
  width:155px;
  word-wrap:break-word;
}
#u4840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4840 {
  position:absolute;
  left:406px;
  top:285px;
  width:236px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4841 {
  position:absolute;
  left:2px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u4842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4842 {
  position:absolute;
  left:1020px;
  top:285px;
  width:168px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4843 {
  position:absolute;
  left:2px;
  top:4px;
  width:164px;
  word-wrap:break-word;
}
#u4844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4844 {
  position:absolute;
  left:1239px;
  top:285px;
  width:125px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4845 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u4846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4846 {
  position:absolute;
  left:1414px;
  top:285px;
  width:175px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4847 {
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u4848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4848 {
  position:absolute;
  left:1629px;
  top:285px;
  width:125px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4849 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u4850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4850 {
  position:absolute;
  left:1814px;
  top:285px;
  width:125px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4851 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u4852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4852 {
  position:absolute;
  left:1989px;
  top:285px;
  width:154px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4853 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u4854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4854 {
  position:absolute;
  left:283px;
  top:420px;
  width:128px;
  height:40px;
}
#u4855 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u4856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4856 {
  position:absolute;
  left:264px;
  top:553px;
  width:64px;
  height:40px;
}
#u4857 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u4858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4858 {
  position:absolute;
  left:304px;
  top:685px;
  width:55px;
  height:40px;
}
#u4859 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u4860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4860 {
  position:absolute;
  left:371px;
  top:553px;
  width:75px;
  height:40px;
}
#u4861 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u4862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4862 {
  position:absolute;
  left:369px;
  top:685px;
  width:80px;
  height:40px;
}
#u4863 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u4864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4864 {
  position:absolute;
  left:459px;
  top:685px;
  width:65px;
  height:40px;
}
#u4865 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u4866_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:42px;
}
#u4866 {
  position:absolute;
  left:827px;
  top:128px;
  width:5px;
  height:30px;
}
#u4867 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4868_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:50px;
}
#u4868 {
  position:absolute;
  left:344px;
  top:382px;
  width:5px;
  height:38px;
}
#u4869 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4870_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:45px;
}
#u4870 {
  position:absolute;
  left:344px;
  top:463px;
  width:5px;
  height:33px;
}
#u4871 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4872_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1565px;
  height:10px;
}
#u4872 {
  position:absolute;
  left:516px;
  top:255px;
  width:1560px;
  height:5px;
}
#u4873 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4874_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:57px;
}
#u4874 {
  position:absolute;
  left:291px;
  top:501px;
  width:5px;
  height:45px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4876_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:57px;
}
#u4876 {
  position:absolute;
  left:406px;
  top:501px;
  width:5px;
  height:45px;
}
#u4877 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4878_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:64px;
}
#u4878 {
  position:absolute;
  left:406px;
  top:593px;
  width:5px;
  height:52px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4880_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:42px;
}
#u4880 {
  position:absolute;
  left:685px;
  top:386px;
  width:5px;
  height:30px;
}
#u4881 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4882_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:42px;
}
#u4882 {
  position:absolute;
  left:1107px;
  top:255px;
  width:5px;
  height:30px;
}
#u4883 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4884_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:125px;
  height:10px;
}
#u4884 {
  position:absolute;
  left:291px;
  top:500px;
  width:120px;
  height:5px;
}
#u4885 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4886_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:60px;
}
#u4886 {
  position:absolute;
  left:827px;
  top:200px;
  width:5px;
  height:48px;
}
#u4887 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4888_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:171px;
  height:10px;
}
#u4888 {
  position:absolute;
  left:330px;
  top:649px;
  width:166px;
  height:5px;
}
#u4889 {
  position:absolute;
  left:2px;
  top:-6px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4890_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:351px;
  height:10px;
}
#u4890 {
  position:absolute;
  left:344px;
  top:382px;
  width:346px;
  height:5px;
}
#u4891 {
  position:absolute;
  left:2px;
  top:-6px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4892_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:59px;
}
#u4892 {
  position:absolute;
  left:511px;
  top:331px;
  width:5px;
  height:47px;
}
#u4893 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4894_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:42px;
}
#u4894 {
  position:absolute;
  left:511px;
  top:255px;
  width:5px;
  height:30px;
}
#u4895 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4896_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:42px;
}
#u4896 {
  position:absolute;
  left:1299px;
  top:255px;
  width:5px;
  height:30px;
}
#u4897 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4898_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:42px;
}
#u4898 {
  position:absolute;
  left:1495px;
  top:255px;
  width:5px;
  height:30px;
}
#u4899 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4900_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:42px;
}
#u4900 {
  position:absolute;
  left:1686px;
  top:255px;
  width:5px;
  height:30px;
}
#u4901 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4902_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:42px;
}
#u4902 {
  position:absolute;
  left:1882px;
  top:260px;
  width:5px;
  height:30px;
}
#u4903 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4904_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:42px;
}
#u4904 {
  position:absolute;
  left:2071px;
  top:260px;
  width:5px;
  height:30px;
}
#u4905 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4906 {
  position:absolute;
  left:750px;
  top:10px;
  width:159px;
  height:44px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4907 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u4908_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:42px;
}
#u4908 {
  position:absolute;
  left:827px;
  top:54px;
  width:5px;
  height:30px;
}
#u4909 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4910_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:45px;
}
#u4910 {
  position:absolute;
  left:330px;
  top:649px;
  width:5px;
  height:33px;
}
#u4911 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4912_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:45px;
}
#u4912 {
  position:absolute;
  left:406px;
  top:649px;
  width:5px;
  height:33px;
}
#u4913 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4914_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:45px;
}
#u4914 {
  position:absolute;
  left:491px;
  top:649px;
  width:5px;
  height:33px;
}
#u4915 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4916 {
  position:absolute;
  left:623px;
  top:420px;
  width:128px;
  height:40px;
}
#u4917 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4918 {
  position:absolute;
  left:604px;
  top:553px;
  width:64px;
  height:40px;
}
#u4919 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u4920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4920 {
  position:absolute;
  left:644px;
  top:685px;
  width:55px;
  height:40px;
}
#u4921 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4922 {
  position:absolute;
  left:711px;
  top:553px;
  width:75px;
  height:40px;
}
#u4923 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4924 {
  position:absolute;
  left:799px;
  top:685px;
  width:65px;
  height:40px;
}
#u4925 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u4926_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:45px;
}
#u4926 {
  position:absolute;
  left:685px;
  top:463px;
  width:5px;
  height:33px;
}
#u4927 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4928_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:57px;
}
#u4928 {
  position:absolute;
  left:631px;
  top:501px;
  width:5px;
  height:45px;
}
#u4929 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4930_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:57px;
}
#u4930 {
  position:absolute;
  left:746px;
  top:501px;
  width:5px;
  height:45px;
}
#u4931 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4932_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:64px;
}
#u4932 {
  position:absolute;
  left:746px;
  top:593px;
  width:5px;
  height:52px;
}
#u4933 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4934_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:125px;
  height:10px;
}
#u4934 {
  position:absolute;
  left:631px;
  top:500px;
  width:120px;
  height:5px;
}
#u4935 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4936_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:171px;
  height:10px;
}
#u4936 {
  position:absolute;
  left:670px;
  top:649px;
  width:166px;
  height:5px;
}
#u4937 {
  position:absolute;
  left:2px;
  top:-6px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4938_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:45px;
}
#u4938 {
  position:absolute;
  left:670px;
  top:649px;
  width:5px;
  height:33px;
}
#u4939 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4940_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:45px;
}
#u4940 {
  position:absolute;
  left:831px;
  top:649px;
  width:5px;
  height:33px;
}
#u4941 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4942_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:91px;
}
#u4942 {
  position:absolute;
  left:1299px;
  top:335px;
  width:5px;
  height:79px;
}
#u4943 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4944 {
  position:absolute;
  left:1230px;
  top:420px;
  width:128px;
  height:40px;
}
#u4945 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4946 {
  position:absolute;
  left:1211px;
  top:553px;
  width:64px;
  height:40px;
}
#u4947 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u4948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4948 {
  position:absolute;
  left:1318px;
  top:553px;
  width:75px;
  height:40px;
}
#u4949 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u4950_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:45px;
}
#u4950 {
  position:absolute;
  left:1292px;
  top:463px;
  width:5px;
  height:33px;
}
#u4951 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4952_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:57px;
}
#u4952 {
  position:absolute;
  left:1238px;
  top:501px;
  width:5px;
  height:45px;
}
#u4953 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4954_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:57px;
}
#u4954 {
  position:absolute;
  left:1353px;
  top:501px;
  width:5px;
  height:45px;
}
#u4955 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4956_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:125px;
  height:10px;
}
#u4956 {
  position:absolute;
  left:1238px;
  top:500px;
  width:120px;
  height:5px;
}
#u4957 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
