body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1581px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:512px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1957 {
  position:absolute;
  left:32px;
  top:271px;
  width:1549px;
  height:512px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:248px;
  width:1545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u1960 {
  position:absolute;
  left:57px;
  top:29px;
  width:144px;
  height:51px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1963 {
  position:absolute;
  left:48px;
  top:134px;
  width:622px;
  height:37px;
}
#u1963_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:628px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:42px;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
  font-size:12px;
}
#u1965_img.mouseOver {
}
#u1965.mouseOver {
}
#u1965_img.selected {
}
#u1965.selected {
}
#u1966 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u1967 {
  position:absolute;
  left:90px;
  top:0px;
  width:100px;
  height:37px;
  font-size:12px;
}
#u1967_img.mouseOver {
}
#u1967.mouseOver {
}
#u1967_img.selected {
}
#u1967.selected {
}
#u1968 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u1969 {
  position:absolute;
  left:190px;
  top:0px;
  width:100px;
  height:37px;
  font-size:12px;
}
#u1969_img.mouseOver {
}
#u1969.mouseOver {
}
#u1969_img.selected {
}
#u1969.selected {
}
#u1970 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
}
#u1971 {
  position:absolute;
  left:290px;
  top:0px;
  width:106px;
  height:37px;
  font-size:12px;
}
#u1971_img.mouseOver {
}
#u1971.mouseOver {
}
#u1971_img.selected {
}
#u1971.selected {
}
#u1972 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u1973 {
  position:absolute;
  left:396px;
  top:0px;
  width:94px;
  height:37px;
  font-size:12px;
}
#u1973_img.mouseOver {
}
#u1973.mouseOver {
}
#u1973_img.selected {
}
#u1973.selected {
}
#u1974 {
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u1975 {
  position:absolute;
  left:490px;
  top:0px;
  width:132px;
  height:37px;
  font-size:12px;
}
#u1975_img.mouseOver {
}
#u1975.mouseOver {
}
#u1975_img.selected {
}
#u1975.selected {
}
#u1976 {
  position:absolute;
  left:2px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u1977 {
  position:absolute;
  left:396px;
  top:37px;
  width:121px;
  height:74px;
  visibility:hidden;
}
#u1977_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:127px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:79px;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1979_img.mouseOver {
}
#u1979.mouseOver {
}
#u1979_img.selected {
}
#u1979.selected {
}
#u1980 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:37px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1981_img.mouseOver {
}
#u1981.mouseOver {
}
#u1981_img.selected {
}
#u1981.selected {
}
#u1982 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1983 {
  position:absolute;
  left:121px;
  top:0px;
  width:121px;
  height:74px;
  visibility:hidden;
}
#u1983_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:127px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:79px;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1985_img.mouseOver {
}
#u1985.mouseOver {
}
#u1985_img.selected {
}
#u1985.selected {
}
#u1986 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1987 {
  position:absolute;
  left:0px;
  top:37px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1987_img.mouseOver {
}
#u1987.mouseOver {
}
#u1987_img.selected {
}
#u1987.selected {
}
#u1988 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1989 {
  position:absolute;
  left:121px;
  top:37px;
  width:121px;
  height:259px;
  visibility:hidden;
}
#u1989_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:127px;
  height:265px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:264px;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1991_img.mouseOver {
}
#u1991.mouseOver {
}
#u1991_img.selected {
}
#u1991.selected {
}
#u1992 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1993 {
  position:absolute;
  left:0px;
  top:37px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1993_img.mouseOver {
}
#u1993.mouseOver {
}
#u1993_img.selected {
}
#u1993.selected {
}
#u1994 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:74px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1995_img.mouseOver {
}
#u1995.mouseOver {
}
#u1995_img.selected {
}
#u1995.selected {
}
#u1996 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1997 {
  position:absolute;
  left:0px;
  top:111px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1997_img.mouseOver {
}
#u1997.mouseOver {
}
#u1997_img.selected {
}
#u1997.selected {
}
#u1998 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1999 {
  position:absolute;
  left:0px;
  top:148px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1999_img.mouseOver {
}
#u1999.mouseOver {
}
#u1999_img.selected {
}
#u1999.selected {
}
#u2000 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u2001 {
  position:absolute;
  left:0px;
  top:185px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u2001_img.mouseOver {
}
#u2001.mouseOver {
}
#u2001_img.selected {
}
#u2001.selected {
}
#u2002 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u2003 {
  position:absolute;
  left:0px;
  top:222px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u2003_img.mouseOver {
}
#u2003.mouseOver {
}
#u2003_img.selected {
}
#u2003.selected {
}
#u2004 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u2005 {
  position:absolute;
  left:90px;
  top:37px;
  width:113px;
  height:74px;
  visibility:hidden;
}
#u2005_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:119px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:79px;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u2007_img.mouseOver {
}
#u2007.mouseOver {
}
#u2007_img.selected {
}
#u2007.selected {
}
#u2008 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u2009 {
  position:absolute;
  left:0px;
  top:37px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u2009_img.mouseOver {
}
#u2009.mouseOver {
}
#u2009_img.selected {
}
#u2009.selected {
}
#u2010 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:38px;
  background:inherit;
  background-color:rgba(113, 71, 175, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2011 {
  position:absolute;
  left:482px;
  top:544px;
  width:234px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2012 {
  position:absolute;
  left:2px;
  top:11px;
  width:230px;
  word-wrap:break-word;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2013 {
  position:absolute;
  left:48px;
  top:283px;
  width:197px;
  height:35px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2014 {
  position:absolute;
  left:0px;
  top:6px;
  width:197px;
  word-wrap:break-word;
}
#u2015 {
  position:absolute;
  left:82px;
  top:340px;
  width:1466px;
  height:345px;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:68px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:68px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:26px;
  width:70px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:68px;
}
#u2018 {
  position:absolute;
  left:74px;
  top:0px;
  width:78px;
  height:68px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:26px;
  width:74px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:68px;
}
#u2020 {
  position:absolute;
  left:152px;
  top:0px;
  width:105px;
  height:68px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:26px;
  width:101px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u2022 {
  position:absolute;
  left:257px;
  top:0px;
  width:80px;
  height:68px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:68px;
}
#u2024 {
  position:absolute;
  left:337px;
  top:0px;
  width:161px;
  height:68px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:26px;
  width:157px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:68px;
}
#u2026 {
  position:absolute;
  left:498px;
  top:0px;
  width:115px;
  height:68px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:26px;
  width:111px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:68px;
}
#u2028 {
  position:absolute;
  left:613px;
  top:0px;
  width:79px;
  height:68px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:26px;
  width:75px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u2030 {
  position:absolute;
  left:692px;
  top:0px;
  width:111px;
  height:68px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:26px;
  width:107px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:68px;
}
#u2032 {
  position:absolute;
  left:803px;
  top:0px;
  width:83px;
  height:68px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u2034 {
  position:absolute;
  left:886px;
  top:0px;
  width:114px;
  height:68px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:68px;
}
#u2036 {
  position:absolute;
  left:1000px;
  top:0px;
  width:78px;
  height:68px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:26px;
  width:74px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u2038 {
  position:absolute;
  left:1078px;
  top:0px;
  width:89px;
  height:68px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:68px;
}
#u2040 {
  position:absolute;
  left:1167px;
  top:0px;
  width:97px;
  height:68px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:26px;
  width:93px;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:68px;
}
#u2042 {
  position:absolute;
  left:1264px;
  top:0px;
  width:97px;
  height:68px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u2044 {
  position:absolute;
  left:1361px;
  top:0px;
  width:100px;
  height:68px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:56px;
}
#u2046 {
  position:absolute;
  left:0px;
  top:68px;
  width:74px;
  height:56px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:56px;
}
#u2048 {
  position:absolute;
  left:74px;
  top:68px;
  width:78px;
  height:56px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:20px;
  width:74px;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:56px;
}
#u2050 {
  position:absolute;
  left:152px;
  top:68px;
  width:105px;
  height:56px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:20px;
  width:101px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:56px;
}
#u2052 {
  position:absolute;
  left:257px;
  top:68px;
  width:80px;
  height:56px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:56px;
}
#u2054 {
  position:absolute;
  left:337px;
  top:68px;
  width:161px;
  height:56px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:20px;
  width:157px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:56px;
}
#u2056 {
  position:absolute;
  left:498px;
  top:68px;
  width:115px;
  height:56px;
  font-size:14px;
  color:#000000;
}
#u2056_img.mouseOver {
}
#u2056.mouseOver {
}
#u2057 {
  position:absolute;
  left:2px;
  top:20px;
  width:111px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:56px;
}
#u2059 {
  position:absolute;
  left:613px;
  top:68px;
  width:79px;
  height:56px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:20px;
  width:75px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:56px;
}
#u2061 {
  position:absolute;
  left:692px;
  top:68px;
  width:111px;
  height:56px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:20px;
  width:107px;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:56px;
}
#u2063 {
  position:absolute;
  left:803px;
  top:68px;
  width:83px;
  height:56px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:20px;
  width:79px;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:56px;
}
#u2065 {
  position:absolute;
  left:886px;
  top:68px;
  width:114px;
  height:56px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:20px;
  width:110px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:56px;
}
#u2067 {
  position:absolute;
  left:1000px;
  top:68px;
  width:78px;
  height:56px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:20px;
  width:74px;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
}
#u2069 {
  position:absolute;
  left:1078px;
  top:68px;
  width:89px;
  height:56px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:56px;
}
#u2071 {
  position:absolute;
  left:1167px;
  top:68px;
  width:97px;
  height:56px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:56px;
}
#u2073 {
  position:absolute;
  left:1264px;
  top:68px;
  width:97px;
  height:56px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u2075 {
  position:absolute;
  left:1361px;
  top:68px;
  width:100px;
  height:56px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:124px;
  width:74px;
  height:52px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u2079 {
  position:absolute;
  left:74px;
  top:124px;
  width:78px;
  height:52px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:52px;
}
#u2081 {
  position:absolute;
  left:152px;
  top:124px;
  width:105px;
  height:52px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u2083 {
  position:absolute;
  left:257px;
  top:124px;
  width:80px;
  height:52px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u2085 {
  position:absolute;
  left:337px;
  top:124px;
  width:161px;
  height:52px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:52px;
}
#u2087 {
  position:absolute;
  left:498px;
  top:124px;
  width:115px;
  height:52px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
}
#u2090 {
  position:absolute;
  left:613px;
  top:124px;
  width:79px;
  height:52px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:18px;
  width:75px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u2092 {
  position:absolute;
  left:692px;
  top:124px;
  width:111px;
  height:52px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:18px;
  width:107px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u2094 {
  position:absolute;
  left:803px;
  top:124px;
  width:83px;
  height:52px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:52px;
}
#u2096 {
  position:absolute;
  left:886px;
  top:124px;
  width:114px;
  height:52px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u2098 {
  position:absolute;
  left:1000px;
  top:124px;
  width:78px;
  height:52px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:52px;
}
#u2100 {
  position:absolute;
  left:1078px;
  top:124px;
  width:89px;
  height:52px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u2102 {
  position:absolute;
  left:1167px;
  top:124px;
  width:97px;
  height:52px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u2104 {
  position:absolute;
  left:1264px;
  top:124px;
  width:97px;
  height:52px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2106 {
  position:absolute;
  left:1361px;
  top:124px;
  width:100px;
  height:52px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u2108 {
  position:absolute;
  left:0px;
  top:176px;
  width:74px;
  height:52px;
  font-size:12px;
  color:#000000;
}
#u2109 {
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u2110 {
  position:absolute;
  left:74px;
  top:176px;
  width:78px;
  height:52px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:52px;
}
#u2112 {
  position:absolute;
  left:152px;
  top:176px;
  width:105px;
  height:52px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u2114 {
  position:absolute;
  left:257px;
  top:176px;
  width:80px;
  height:52px;
  font-size:12px;
  color:#000000;
}
#u2115 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u2116 {
  position:absolute;
  left:337px;
  top:176px;
  width:161px;
  height:52px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:52px;
}
#u2118 {
  position:absolute;
  left:498px;
  top:176px;
  width:115px;
  height:52px;
  font-size:14px;
  color:#000000;
}
#u2118_img.mouseOver {
}
#u2118.mouseOver {
}
#u2119 {
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
}
#u2121 {
  position:absolute;
  left:613px;
  top:176px;
  width:79px;
  height:52px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:18px;
  width:75px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u2123 {
  position:absolute;
  left:692px;
  top:176px;
  width:111px;
  height:52px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:18px;
  width:107px;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u2125 {
  position:absolute;
  left:803px;
  top:176px;
  width:83px;
  height:52px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:52px;
}
#u2127 {
  position:absolute;
  left:886px;
  top:176px;
  width:114px;
  height:52px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u2129 {
  position:absolute;
  left:1000px;
  top:176px;
  width:78px;
  height:52px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:52px;
}
#u2131 {
  position:absolute;
  left:1078px;
  top:176px;
  width:89px;
  height:52px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u2133 {
  position:absolute;
  left:1167px;
  top:176px;
  width:97px;
  height:52px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u2135 {
  position:absolute;
  left:1264px;
  top:176px;
  width:97px;
  height:52px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2137 {
  position:absolute;
  left:1361px;
  top:176px;
  width:100px;
  height:52px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u2139 {
  position:absolute;
  left:0px;
  top:228px;
  width:74px;
  height:52px;
  font-size:12px;
  color:#000000;
}
#u2140 {
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u2141 {
  position:absolute;
  left:74px;
  top:228px;
  width:78px;
  height:52px;
  font-size:12px;
  color:#000000;
}
#u2142 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:52px;
}
#u2143 {
  position:absolute;
  left:152px;
  top:228px;
  width:105px;
  height:52px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u2145 {
  position:absolute;
  left:257px;
  top:228px;
  width:80px;
  height:52px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u2147 {
  position:absolute;
  left:337px;
  top:228px;
  width:161px;
  height:52px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:52px;
}
#u2149 {
  position:absolute;
  left:498px;
  top:228px;
  width:115px;
  height:52px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
}
#u2152 {
  position:absolute;
  left:613px;
  top:228px;
  width:79px;
  height:52px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:18px;
  width:75px;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u2154 {
  position:absolute;
  left:692px;
  top:228px;
  width:111px;
  height:52px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:18px;
  width:107px;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u2156 {
  position:absolute;
  left:803px;
  top:228px;
  width:83px;
  height:52px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:52px;
}
#u2158 {
  position:absolute;
  left:886px;
  top:228px;
  width:114px;
  height:52px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u2160 {
  position:absolute;
  left:1000px;
  top:228px;
  width:78px;
  height:52px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:52px;
}
#u2162 {
  position:absolute;
  left:1078px;
  top:228px;
  width:89px;
  height:52px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u2164 {
  position:absolute;
  left:1167px;
  top:228px;
  width:97px;
  height:52px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u2166 {
  position:absolute;
  left:1264px;
  top:228px;
  width:97px;
  height:52px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2168 {
  position:absolute;
  left:1361px;
  top:228px;
  width:100px;
  height:52px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:280px;
  width:74px;
  height:60px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:60px;
}
#u2172 {
  position:absolute;
  left:74px;
  top:280px;
  width:78px;
  height:60px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:22px;
  width:74px;
  word-wrap:break-word;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u2174 {
  position:absolute;
  left:152px;
  top:280px;
  width:105px;
  height:60px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u2176 {
  position:absolute;
  left:257px;
  top:280px;
  width:80px;
  height:60px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u2178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:60px;
}
#u2178 {
  position:absolute;
  left:337px;
  top:280px;
  width:161px;
  height:60px;
}
#u2179 {
  position:absolute;
  left:2px;
  top:22px;
  width:157px;
  word-wrap:break-word;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:60px;
}
#u2180 {
  position:absolute;
  left:498px;
  top:280px;
  width:115px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u2180_img.mouseOver {
}
#u2180.mouseOver {
}
#u2181 {
  position:absolute;
  left:2px;
  top:22px;
  width:111px;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:60px;
}
#u2183 {
  position:absolute;
  left:613px;
  top:280px;
  width:79px;
  height:60px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:22px;
  width:75px;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:60px;
}
#u2185 {
  position:absolute;
  left:692px;
  top:280px;
  width:111px;
  height:60px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:22px;
  width:107px;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:60px;
}
#u2187 {
  position:absolute;
  left:803px;
  top:280px;
  width:83px;
  height:60px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:22px;
  width:79px;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
}
#u2189 {
  position:absolute;
  left:886px;
  top:280px;
  width:114px;
  height:60px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:22px;
  width:110px;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:60px;
}
#u2191 {
  position:absolute;
  left:1000px;
  top:280px;
  width:78px;
  height:60px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:22px;
  width:74px;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
}
#u2193 {
  position:absolute;
  left:1078px;
  top:280px;
  width:89px;
  height:60px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:14px;
  width:85px;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:60px;
}
#u2195 {
  position:absolute;
  left:1167px;
  top:280px;
  width:97px;
  height:60px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:60px;
}
#u2197 {
  position:absolute;
  left:1264px;
  top:280px;
  width:97px;
  height:60px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2199 {
  position:absolute;
  left:1361px;
  top:280px;
  width:100px;
  height:60px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u2201 {
  position:absolute;
  left:1384px;
  top:481px;
  width:33px;
  height:20px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u2203 {
  position:absolute;
  left:1384px;
  top:428px;
  width:33px;
  height:20px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u2205 {
  position:absolute;
  left:1384px;
  top:536px;
  width:33px;
  height:20px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u2207 {
  position:absolute;
  left:1384px;
  top:587px;
  width:33px;
  height:20px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u2209 {
  position:absolute;
  left:1384px;
  top:642px;
  width:33px;
  height:20px;
}
#u2210 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2211 {
  position:absolute;
  left:1507px;
  top:428px;
  width:16px;
  height:17px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u2213 {
  position:absolute;
  left:1466px;
  top:430px;
  width:22px;
  height:16px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2215 {
  position:absolute;
  left:1507px;
  top:479px;
  width:16px;
  height:17px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2217 {
  position:absolute;
  left:1507px;
  top:534px;
  width:16px;
  height:17px;
}
#u2218 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u2219 {
  position:absolute;
  left:1466px;
  top:536px;
  width:22px;
  height:16px;
}
#u2220 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2221 {
  position:absolute;
  left:1507px;
  top:587px;
  width:16px;
  height:17px;
}
#u2222 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u2223 {
  position:absolute;
  left:1466px;
  top:589px;
  width:22px;
  height:16px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2225 {
  position:absolute;
  left:1507px;
  top:642px;
  width:16px;
  height:17px;
}
#u2226 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u2227 {
  position:absolute;
  left:1466px;
  top:644px;
  width:22px;
  height:16px;
}
#u2228 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
  background:inherit;
  background-color:rgba(113, 71, 175, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2229 {
  position:absolute;
  left:653px;
  top:713px;
  width:197px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2230 {
  position:absolute;
  left:0px;
  top:9px;
  width:195px;
  word-wrap:break-word;
}
#u2231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u2231 {
  position:absolute;
  left:1466px;
  top:479px;
  width:22px;
  height:16px;
}
#u2232 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1543px;
  height:51px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2233 {
  position:absolute;
  left:38px;
  top:843px;
  width:1543px;
  height:51px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2234 {
  position:absolute;
  left:2px;
  top:18px;
  width:1539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:12px;
}
#u2235 {
  position:absolute;
  left:1172px;
  top:916px;
  width:409px;
  height:12px;
  font-size:14px;
}
#u2236 {
  position:absolute;
  left:2px;
  top:-2px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2237 {
  position:absolute;
  left:172px;
  top:861px;
  width:202px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2238 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u2239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2239 {
  position:absolute;
  left:425px;
  top:861px;
  width:202px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2240 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2241 {
  position:absolute;
  left:696px;
  top:861px;
  width:202px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2242 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u2243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2243 {
  position:absolute;
  left:1002px;
  top:861px;
  width:202px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2244 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u2245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2245 {
  position:absolute;
  left:1317px;
  top:861px;
  width:202px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2246 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2248 {
  position:absolute;
  left:883px;
  top:37px;
  width:40px;
  height:40px;
}
#u2249 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2250 {
  position:absolute;
  left:893px;
  top:46px;
  width:21px;
  height:21px;
  color:#CCCCCC;
}
#u2251 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2253 {
  position:absolute;
  left:836px;
  top:37px;
  width:40px;
  height:40px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2255 {
  position:absolute;
  left:841px;
  top:41px;
  width:30px;
  height:30px;
}
#u2256 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u2263 {
  position:absolute;
  left:646px;
  top:42px;
  width:170px;
  height:30px;
  font-size:14px;
}
#u2264 {
  position:absolute;
  left:15px;
  top:7px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265 {
  position:absolute;
  left:649px;
  top:45px;
  width:164px;
  height:24px;
}
#u2265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:24px;
  background-color:#E3D9EF;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u2266 {
  position:absolute;
  left:795px;
  top:48px;
  width:15px;
  height:17px;
}
#u2267 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u2268 {
  position:absolute;
  left:829px;
  top:77px;
  width:51px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u2270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u2270 {
  position:absolute;
  left:880px;
  top:77px;
  width:43px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u2271 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u2272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:144px;
  background:inherit;
  background-color:rgba(227, 217, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u2272 {
  position:absolute;
  left:614px;
  top:79px;
  width:309px;
  height:144px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u2273 {
  position:absolute;
  left:35px;
  top:16px;
  width:254px;
  word-wrap:break-word;
}
