body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:807px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:498px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1442 {
  position:absolute;
  left:93px;
  top:144px;
  width:714px;
  height:498px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:241px;
  width:710px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:248px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 2px 2px 1px 0px rgba(204, 204, 204, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 2px 2px 1px 0px rgba(204, 204, 204, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 2px 2px 1px 0px rgba(204, 204, 204, 0.349019607843137) inset;
}
#u1444 {
  position:absolute;
  left:163px;
  top:261px;
  width:574px;
  height:248px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:116px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u1446 {
  position:absolute;
  left:93px;
  top:28px;
  width:144px;
  height:51px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1448 {
  position:absolute;
  left:384px;
  top:309px;
  width:214px;
  height:27px;
}
#u1448_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1449 {
  position:absolute;
  left:226px;
  top:308px;
  width:128px;
  height:28px;
}
#u1450 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
  background:inherit;
  background-color:rgba(113, 71, 175, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1451 {
  position:absolute;
  left:430px;
  top:406px;
  width:123px;
  height:39px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1452 {
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u1453 {
  position:absolute;
  left:384px;
  top:353px;
  width:214px;
  height:27px;
}
#u1453_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1454 {
  position:absolute;
  left:226px;
  top:352px;
  width:128px;
  height:28px;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u1456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1456 {
  position:absolute;
  left:122px;
  top:159px;
  width:209px;
  height:28px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1457 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:52px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1458 {
  position:absolute;
  left:93px;
  top:743px;
  width:714px;
  height:52px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1459 {
  position:absolute;
  left:2px;
  top:18px;
  width:710px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:12px;
}
#u1460 {
  position:absolute;
  left:618px;
  top:817px;
  width:189px;
  height:12px;
  font-size:14px;
}
#u1461 {
  position:absolute;
  left:2px;
  top:-2px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1462 {
  position:absolute;
  left:143px;
  top:760px;
  width:75px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1464 {
  position:absolute;
  left:263px;
  top:760px;
  width:75px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1465 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1466 {
  position:absolute;
  left:377px;
  top:760px;
  width:75px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1467 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1468 {
  position:absolute;
  left:493px;
  top:760px;
  width:75px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1469 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1470 {
  position:absolute;
  left:648px;
  top:760px;
  width:75px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1471 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
