body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:733px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6152 {
  position:absolute;
  left:51px;
  top:202px;
  width:839px;
  height:733px;
}
#u6153 {
  position:absolute;
  left:2px;
  top:358px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u6154 {
  position:absolute;
  left:51px;
  top:20px;
  width:144px;
  height:51px;
}
#u6155 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6156 {
  position:absolute;
  left:105px;
  top:354px;
  width:74px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6157 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6158 {
  position:absolute;
  left:105px;
  top:395px;
  width:108px;
  height:18px;
}
#u6158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6159 {
  position:absolute;
  left:105px;
  top:435px;
  width:180px;
  height:16px;
}
#u6160 {
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u6159_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6161 {
  position:absolute;
  left:241px;
  top:435px;
  width:180px;
  height:16px;
}
#u6162 {
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u6161_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6163 {
  position:absolute;
  left:223px;
  top:395px;
  width:131px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6164 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u6165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6165 {
  position:absolute;
  left:108px;
  top:481px;
  width:111px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6166 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6167 {
  position:absolute;
  left:108px;
  top:526px;
  width:108px;
  height:18px;
}
#u6167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6168 {
  position:absolute;
  left:108px;
  top:566px;
  width:180px;
  height:16px;
}
#u6169 {
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u6168_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6170 {
  position:absolute;
  left:239px;
  top:566px;
  width:180px;
  height:16px;
}
#u6171 {
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u6170_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6172 {
  position:absolute;
  left:226px;
  top:526px;
  width:131px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6173 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u6174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6174 {
  position:absolute;
  left:113px;
  top:618px;
  width:173px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6175 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u6176 {
  position:absolute;
  left:113px;
  top:659px;
  width:108px;
  height:18px;
}
#u6176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6177 {
  position:absolute;
  left:355px;
  top:659px;
  width:105px;
  height:18px;
}
#u6178 {
  position:absolute;
  left:2px;
  top:1px;
  width:101px;
  word-wrap:break-word;
}
#u6179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6179 {
  position:absolute;
  left:231px;
  top:659px;
  width:131px;
  height:16px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u6180 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u6181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6181 {
  position:absolute;
  left:355px;
  top:566px;
  width:105px;
  height:18px;
}
#u6182 {
  position:absolute;
  left:2px;
  top:1px;
  width:101px;
  word-wrap:break-word;
}
#u6183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6183 {
  position:absolute;
  left:355px;
  top:433px;
  width:105px;
  height:18px;
}
#u6184 {
  position:absolute;
  left:2px;
  top:1px;
  width:101px;
  word-wrap:break-word;
}
#u6185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6185 {
  position:absolute;
  left:113px;
  top:736px;
  width:83px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6186 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u6187 {
  position:absolute;
  left:257px;
  top:736px;
  width:311px;
  height:119px;
}
#u6187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:119px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:center;
}
#u6188 {
  position:absolute;
  left:117px;
  top:874px;
  width:108px;
  height:18px;
}
#u6188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6189 {
  position:absolute;
  left:57px;
  top:92px;
  width:666px;
  height:42px;
}
#u6190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u6190 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
  font-size:12px;
}
#u6190_img.mouseOver {
}
#u6190.mouseOver {
}
#u6190_img.selected {
}
#u6190.selected {
}
#u6191 {
  position:absolute;
  left:2px;
  top:11px;
  width:97px;
  word-wrap:break-word;
}
#u6192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u6192 {
  position:absolute;
  left:101px;
  top:0px;
  width:71px;
  height:37px;
  font-size:12px;
}
#u6192_img.mouseOver {
}
#u6192.mouseOver {
}
#u6192_img.selected {
}
#u6192.selected {
}
#u6193 {
  position:absolute;
  left:2px;
  top:11px;
  width:67px;
  word-wrap:break-word;
}
#u6194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u6194 {
  position:absolute;
  left:172px;
  top:0px;
  width:120px;
  height:37px;
  font-size:12px;
}
#u6194_img.mouseOver {
}
#u6194.mouseOver {
}
#u6194_img.selected {
}
#u6194.selected {
}
#u6195 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u6196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u6196 {
  position:absolute;
  left:292px;
  top:0px;
  width:171px;
  height:37px;
  font-size:12px;
}
#u6196_img.mouseOver {
}
#u6196.mouseOver {
}
#u6196_img.selected {
}
#u6196.selected {
}
#u6197 {
  position:absolute;
  left:2px;
  top:11px;
  width:167px;
  word-wrap:break-word;
}
#u6198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:37px;
}
#u6198 {
  position:absolute;
  left:463px;
  top:0px;
  width:104px;
  height:37px;
  font-size:12px;
}
#u6198_img.mouseOver {
}
#u6198.mouseOver {
}
#u6198_img.selected {
}
#u6198.selected {
}
#u6199 {
  position:absolute;
  left:2px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u6200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u6200 {
  position:absolute;
  left:567px;
  top:0px;
  width:94px;
  height:37px;
  font-size:12px;
}
#u6200_img.mouseOver {
}
#u6200.mouseOver {
}
#u6200_img.selected {
}
#u6200.selected {
}
#u6201 {
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
#u6202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6202 {
  position:absolute;
  left:77px;
  top:235px;
  width:353px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6203 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u6204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6205 {
  position:absolute;
  left:850px;
  top:20px;
  width:40px;
  height:40px;
}
#u6206 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6207 {
  position:absolute;
  left:860px;
  top:29px;
  width:21px;
  height:21px;
  color:#CCCCCC;
}
#u6208 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6210 {
  position:absolute;
  left:803px;
  top:20px;
  width:40px;
  height:40px;
}
#u6211 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6212 {
  position:absolute;
  left:808px;
  top:24px;
  width:30px;
  height:30px;
}
#u6213 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6214 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u6220 {
  position:absolute;
  left:613px;
  top:25px;
  width:170px;
  height:30px;
  font-size:14px;
}
#u6221 {
  position:absolute;
  left:15px;
  top:7px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6222 {
  position:absolute;
  left:616px;
  top:28px;
  width:164px;
  height:24px;
}
#u6222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:24px;
  background-color:#E3D9EF;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u6223 {
  position:absolute;
  left:762px;
  top:31px;
  width:15px;
  height:17px;
}
#u6224 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u6225 {
  position:absolute;
  left:796px;
  top:60px;
  width:51px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u6226 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u6227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u6227 {
  position:absolute;
  left:847px;
  top:60px;
  width:43px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u6228 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u6229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:144px;
  background:inherit;
  background-color:rgba(227, 217, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u6229 {
  position:absolute;
  left:581px;
  top:62px;
  width:309px;
  height:144px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u6230 {
  position:absolute;
  left:35px;
  top:16px;
  width:254px;
  word-wrap:break-word;
}
#u6238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:56px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6238 {
  position:absolute;
  left:51px;
  top:982px;
  width:839px;
  height:56px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6239 {
  position:absolute;
  left:2px;
  top:20px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:14px;
}
#u6240 {
  position:absolute;
  left:672px;
  top:1073px;
  width:218px;
  height:14px;
  font-size:14px;
}
#u6241 {
  position:absolute;
  left:2px;
  top:-1px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6242 {
  position:absolute;
  left:122px;
  top:1005px;
  width:107px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6243 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u6244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6244 {
  position:absolute;
  left:257px;
  top:1005px;
  width:107px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6245 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u6246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6246 {
  position:absolute;
  left:402px;
  top:1005px;
  width:107px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6247 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u6248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6248 {
  position:absolute;
  left:565px;
  top:1005px;
  width:107px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6249 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u6250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6250 {
  position:absolute;
  left:732px;
  top:1005px;
  width:107px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6251 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
