body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:257px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u51 {
  position:absolute;
  left:93px;
  top:172px;
  width:661px;
  height:257px;
}
#u52 {
  position:absolute;
  left:2px;
  top:120px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u53 {
  position:absolute;
  left:93px;
  top:20px;
  width:144px;
  height:51px;
}
#u54 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:56px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u55 {
  position:absolute;
  left:93px;
  top:475px;
  width:661px;
  height:56px;
  font-size:14px;
  color:#FFFFFF;
}
#u56 {
  position:absolute;
  left:2px;
  top:20px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:16px;
}
#u57 {
  position:absolute;
  left:126px;
  top:492px;
  width:588px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:14px;
}
#u61 {
  position:absolute;
  left:499px;
  top:560px;
  width:248px;
  height:14px;
  font-size:14px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-1px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:282px;
  top:214px;
  width:149px;
  height:30px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:282px;
  top:256px;
  width:149px;
  height:27px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:181px;
  top:214px;
  width:136px;
  height:50px;
}
#u66 {
  position:absolute;
  left:20px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:181px;
  top:256px;
  width:136px;
  height:50px;
}
#u68 {
  position:absolute;
  left:20px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0D0D0D;
  text-align:center;
}
#u69 {
  position:absolute;
  left:413px;
  top:335px;
  width:192px;
  height:50px;
  color:#0D0D0D;
  text-align:center;
}
#u70 {
  position:absolute;
  left:20px;
  top:9px;
  width:172px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:282px;
  top:294px;
  width:127px;
  height:16px;
  font-size:14px;
}
#u72 {
  position:absolute;
  left:16px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u71_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(94, 40, 164, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:314px;
  top:344px;
  width:94px;
  height:30px;
}
#u74 {
  position:absolute;
  left:20px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u75 {
  position:absolute;
  left:93px;
  top:111px;
  width:95px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
