body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1581px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:512px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1777 {
  position:absolute;
  left:32px;
  top:271px;
  width:1549px;
  height:512px;
}
#u1778 {
  position:absolute;
  left:2px;
  top:248px;
  width:1545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u1780 {
  position:absolute;
  left:57px;
  top:29px;
  width:144px;
  height:51px;
}
#u1781 {
  position:absolute;
  left:2px;
  top:18px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1783 {
  position:absolute;
  left:48px;
  top:134px;
  width:622px;
  height:37px;
}
#u1783_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:628px;
  height:43px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1784 {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:42px;
}
#u1785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
}
#u1785 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:37px;
  font-size:12px;
}
#u1785_img.mouseOver {
}
#u1785.mouseOver {
}
#u1785_img.selected {
}
#u1785.selected {
}
#u1786 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u1787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u1787 {
  position:absolute;
  left:90px;
  top:0px;
  width:100px;
  height:37px;
  font-size:12px;
}
#u1787_img.mouseOver {
}
#u1787.mouseOver {
}
#u1787_img.selected {
}
#u1787.selected {
}
#u1788 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u1789 {
  position:absolute;
  left:190px;
  top:0px;
  width:100px;
  height:37px;
  font-size:12px;
}
#u1789_img.mouseOver {
}
#u1789.mouseOver {
}
#u1789_img.selected {
}
#u1789.selected {
}
#u1790 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
}
#u1791 {
  position:absolute;
  left:290px;
  top:0px;
  width:106px;
  height:37px;
  font-size:12px;
}
#u1791_img.mouseOver {
}
#u1791.mouseOver {
}
#u1791_img.selected {
}
#u1791.selected {
}
#u1792 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u1793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u1793 {
  position:absolute;
  left:396px;
  top:0px;
  width:94px;
  height:37px;
  font-size:12px;
}
#u1793_img.mouseOver {
}
#u1793.mouseOver {
}
#u1793_img.selected {
}
#u1793.selected {
}
#u1794 {
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
#u1795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u1795 {
  position:absolute;
  left:490px;
  top:0px;
  width:132px;
  height:37px;
  font-size:12px;
}
#u1795_img.mouseOver {
}
#u1795.mouseOver {
}
#u1795_img.selected {
}
#u1795.selected {
}
#u1796 {
  position:absolute;
  left:2px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u1797 {
  position:absolute;
  left:396px;
  top:37px;
  width:121px;
  height:74px;
  visibility:hidden;
}
#u1797_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:127px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1798 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:79px;
}
#u1799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1799 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1799_img.mouseOver {
}
#u1799.mouseOver {
}
#u1799_img.selected {
}
#u1799.selected {
}
#u1800 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1801 {
  position:absolute;
  left:0px;
  top:37px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1801_img.mouseOver {
}
#u1801.mouseOver {
}
#u1801_img.selected {
}
#u1801.selected {
}
#u1802 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1803 {
  position:absolute;
  left:121px;
  top:0px;
  width:121px;
  height:74px;
  visibility:hidden;
}
#u1803_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:127px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1804 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:79px;
}
#u1805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1805 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1805_img.mouseOver {
}
#u1805.mouseOver {
}
#u1805_img.selected {
}
#u1805.selected {
}
#u1806 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1807 {
  position:absolute;
  left:0px;
  top:37px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1807_img.mouseOver {
}
#u1807.mouseOver {
}
#u1807_img.selected {
}
#u1807.selected {
}
#u1808 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1809 {
  position:absolute;
  left:121px;
  top:37px;
  width:121px;
  height:259px;
  visibility:hidden;
}
#u1809_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:127px;
  height:265px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1810 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:264px;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1811 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1811_img.mouseOver {
}
#u1811.mouseOver {
}
#u1811_img.selected {
}
#u1811.selected {
}
#u1812 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1813 {
  position:absolute;
  left:0px;
  top:37px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1813_img.mouseOver {
}
#u1813.mouseOver {
}
#u1813_img.selected {
}
#u1813.selected {
}
#u1814 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1815 {
  position:absolute;
  left:0px;
  top:74px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1815_img.mouseOver {
}
#u1815.mouseOver {
}
#u1815_img.selected {
}
#u1815.selected {
}
#u1816 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1817 {
  position:absolute;
  left:0px;
  top:111px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1817_img.mouseOver {
}
#u1817.mouseOver {
}
#u1817_img.selected {
}
#u1817.selected {
}
#u1818 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1819 {
  position:absolute;
  left:0px;
  top:148px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1819_img.mouseOver {
}
#u1819.mouseOver {
}
#u1819_img.selected {
}
#u1819.selected {
}
#u1820 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1821 {
  position:absolute;
  left:0px;
  top:185px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1821_img.mouseOver {
}
#u1821.mouseOver {
}
#u1821_img.selected {
}
#u1821.selected {
}
#u1822 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u1823 {
  position:absolute;
  left:0px;
  top:222px;
  width:121px;
  height:37px;
  font-size:12px;
}
#u1823_img.mouseOver {
}
#u1823.mouseOver {
}
#u1823_img.selected {
}
#u1823.selected {
}
#u1824 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1825 {
  position:absolute;
  left:90px;
  top:37px;
  width:113px;
  height:74px;
  visibility:hidden;
}
#u1825_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:119px;
  height:80px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:79px;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u1827 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u1827_img.mouseOver {
}
#u1827.mouseOver {
}
#u1827_img.selected {
}
#u1827.selected {
}
#u1828 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
}
#u1829 {
  position:absolute;
  left:0px;
  top:37px;
  width:113px;
  height:37px;
  font-size:12px;
}
#u1829_img.mouseOver {
}
#u1829.mouseOver {
}
#u1829_img.selected {
}
#u1829.selected {
}
#u1830 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u1831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:38px;
  background:inherit;
  background-color:rgba(113, 71, 175, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1831 {
  position:absolute;
  left:482px;
  top:544px;
  width:234px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1832 {
  position:absolute;
  left:2px;
  top:11px;
  width:230px;
  word-wrap:break-word;
}
#u1833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1833 {
  position:absolute;
  left:48px;
  top:283px;
  width:197px;
  height:35px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1834 {
  position:absolute;
  left:0px;
  top:6px;
  width:197px;
  word-wrap:break-word;
}
#u1835 {
  position:absolute;
  left:82px;
  top:340px;
  width:1466px;
  height:345px;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:68px;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:68px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:26px;
  width:70px;
  word-wrap:break-word;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:68px;
}
#u1838 {
  position:absolute;
  left:74px;
  top:0px;
  width:78px;
  height:68px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:26px;
  width:74px;
  word-wrap:break-word;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:68px;
}
#u1840 {
  position:absolute;
  left:152px;
  top:0px;
  width:105px;
  height:68px;
}
#u1841 {
  position:absolute;
  left:2px;
  top:26px;
  width:101px;
  word-wrap:break-word;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u1842 {
  position:absolute;
  left:257px;
  top:0px;
  width:80px;
  height:68px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:68px;
}
#u1844 {
  position:absolute;
  left:337px;
  top:0px;
  width:161px;
  height:68px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:26px;
  width:157px;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:68px;
}
#u1846 {
  position:absolute;
  left:498px;
  top:0px;
  width:115px;
  height:68px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:26px;
  width:111px;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:68px;
}
#u1848 {
  position:absolute;
  left:613px;
  top:0px;
  width:79px;
  height:68px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:26px;
  width:75px;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:68px;
}
#u1850 {
  position:absolute;
  left:692px;
  top:0px;
  width:111px;
  height:68px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:26px;
  width:107px;
  word-wrap:break-word;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:68px;
}
#u1852 {
  position:absolute;
  left:803px;
  top:0px;
  width:83px;
  height:68px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u1854 {
  position:absolute;
  left:886px;
  top:0px;
  width:114px;
  height:68px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  word-wrap:break-word;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:68px;
}
#u1856 {
  position:absolute;
  left:1000px;
  top:0px;
  width:78px;
  height:68px;
}
#u1857 {
  position:absolute;
  left:2px;
  top:26px;
  width:74px;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u1858 {
  position:absolute;
  left:1078px;
  top:0px;
  width:89px;
  height:68px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  word-wrap:break-word;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:68px;
}
#u1860 {
  position:absolute;
  left:1167px;
  top:0px;
  width:97px;
  height:68px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:26px;
  width:93px;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:68px;
}
#u1862 {
  position:absolute;
  left:1264px;
  top:0px;
  width:97px;
  height:68px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u1864 {
  position:absolute;
  left:1361px;
  top:0px;
  width:100px;
  height:68px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:56px;
}
#u1866 {
  position:absolute;
  left:0px;
  top:68px;
  width:74px;
  height:56px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:56px;
}
#u1868 {
  position:absolute;
  left:74px;
  top:68px;
  width:78px;
  height:56px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:20px;
  width:74px;
  word-wrap:break-word;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:56px;
}
#u1870 {
  position:absolute;
  left:152px;
  top:68px;
  width:105px;
  height:56px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:20px;
  width:101px;
  word-wrap:break-word;
}
#u1872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:56px;
}
#u1872 {
  position:absolute;
  left:257px;
  top:68px;
  width:80px;
  height:56px;
}
#u1873 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u1874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:56px;
}
#u1874 {
  position:absolute;
  left:337px;
  top:68px;
  width:161px;
  height:56px;
}
#u1875 {
  position:absolute;
  left:2px;
  top:20px;
  width:157px;
  word-wrap:break-word;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:56px;
}
#u1876 {
  position:absolute;
  left:498px;
  top:68px;
  width:115px;
  height:56px;
  font-size:14px;
  color:#000000;
}
#u1876_img.mouseOver {
}
#u1876.mouseOver {
}
#u1877 {
  position:absolute;
  left:2px;
  top:20px;
  width:111px;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:56px;
}
#u1879 {
  position:absolute;
  left:613px;
  top:68px;
  width:79px;
  height:56px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:20px;
  width:75px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:56px;
}
#u1881 {
  position:absolute;
  left:692px;
  top:68px;
  width:111px;
  height:56px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:20px;
  width:107px;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:56px;
}
#u1883 {
  position:absolute;
  left:803px;
  top:68px;
  width:83px;
  height:56px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:20px;
  width:79px;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:56px;
}
#u1885 {
  position:absolute;
  left:886px;
  top:68px;
  width:114px;
  height:56px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:20px;
  width:110px;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:56px;
}
#u1887 {
  position:absolute;
  left:1000px;
  top:68px;
  width:78px;
  height:56px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:20px;
  width:74px;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
}
#u1889 {
  position:absolute;
  left:1078px;
  top:68px;
  width:89px;
  height:56px;
}
#u1890 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:56px;
}
#u1891 {
  position:absolute;
  left:1167px;
  top:68px;
  width:97px;
  height:56px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  word-wrap:break-word;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:56px;
}
#u1893 {
  position:absolute;
  left:1264px;
  top:68px;
  width:97px;
  height:56px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:20px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:56px;
}
#u1895 {
  position:absolute;
  left:1361px;
  top:68px;
  width:100px;
  height:56px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u1897 {
  position:absolute;
  left:0px;
  top:124px;
  width:74px;
  height:52px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u1899 {
  position:absolute;
  left:74px;
  top:124px;
  width:78px;
  height:52px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:52px;
}
#u1901 {
  position:absolute;
  left:152px;
  top:124px;
  width:105px;
  height:52px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u1903 {
  position:absolute;
  left:257px;
  top:124px;
  width:80px;
  height:52px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u1905 {
  position:absolute;
  left:337px;
  top:124px;
  width:161px;
  height:52px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:52px;
}
#u1907 {
  position:absolute;
  left:498px;
  top:124px;
  width:115px;
  height:52px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
}
#u1910 {
  position:absolute;
  left:613px;
  top:124px;
  width:79px;
  height:52px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:18px;
  width:75px;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u1912 {
  position:absolute;
  left:692px;
  top:124px;
  width:111px;
  height:52px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:18px;
  width:107px;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u1914 {
  position:absolute;
  left:803px;
  top:124px;
  width:83px;
  height:52px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:52px;
}
#u1916 {
  position:absolute;
  left:886px;
  top:124px;
  width:114px;
  height:52px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u1918 {
  position:absolute;
  left:1000px;
  top:124px;
  width:78px;
  height:52px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:52px;
}
#u1920 {
  position:absolute;
  left:1078px;
  top:124px;
  width:89px;
  height:52px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u1922 {
  position:absolute;
  left:1167px;
  top:124px;
  width:97px;
  height:52px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u1924 {
  position:absolute;
  left:1264px;
  top:124px;
  width:97px;
  height:52px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u1926 {
  position:absolute;
  left:1361px;
  top:124px;
  width:100px;
  height:52px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u1928 {
  position:absolute;
  left:0px;
  top:176px;
  width:74px;
  height:52px;
  font-size:12px;
  color:#000000;
}
#u1929 {
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u1930 {
  position:absolute;
  left:74px;
  top:176px;
  width:78px;
  height:52px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:52px;
}
#u1932 {
  position:absolute;
  left:152px;
  top:176px;
  width:105px;
  height:52px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u1934 {
  position:absolute;
  left:257px;
  top:176px;
  width:80px;
  height:52px;
  font-size:12px;
  color:#000000;
}
#u1935 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u1936 {
  position:absolute;
  left:337px;
  top:176px;
  width:161px;
  height:52px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:52px;
}
#u1938 {
  position:absolute;
  left:498px;
  top:176px;
  width:115px;
  height:52px;
  font-size:14px;
  color:#000000;
}
#u1938_img.mouseOver {
}
#u1938.mouseOver {
}
#u1939 {
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
}
#u1941 {
  position:absolute;
  left:613px;
  top:176px;
  width:79px;
  height:52px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:18px;
  width:75px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u1943 {
  position:absolute;
  left:692px;
  top:176px;
  width:111px;
  height:52px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:18px;
  width:107px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u1945 {
  position:absolute;
  left:803px;
  top:176px;
  width:83px;
  height:52px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:52px;
}
#u1947 {
  position:absolute;
  left:886px;
  top:176px;
  width:114px;
  height:52px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u1949 {
  position:absolute;
  left:1000px;
  top:176px;
  width:78px;
  height:52px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:52px;
}
#u1951 {
  position:absolute;
  left:1078px;
  top:176px;
  width:89px;
  height:52px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u1953 {
  position:absolute;
  left:1167px;
  top:176px;
  width:97px;
  height:52px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u1955 {
  position:absolute;
  left:1264px;
  top:176px;
  width:97px;
  height:52px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u1957 {
  position:absolute;
  left:1361px;
  top:176px;
  width:100px;
  height:52px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:228px;
  width:74px;
  height:52px;
  font-size:12px;
  color:#000000;
}
#u1960 {
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u1961 {
  position:absolute;
  left:74px;
  top:228px;
  width:78px;
  height:52px;
  font-size:12px;
  color:#000000;
}
#u1962 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:52px;
}
#u1963 {
  position:absolute;
  left:152px;
  top:228px;
  width:105px;
  height:52px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u1965 {
  position:absolute;
  left:257px;
  top:228px;
  width:80px;
  height:52px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u1967 {
  position:absolute;
  left:337px;
  top:228px;
  width:161px;
  height:52px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:52px;
}
#u1969 {
  position:absolute;
  left:498px;
  top:228px;
  width:115px;
  height:52px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:52px;
}
#u1972 {
  position:absolute;
  left:613px;
  top:228px;
  width:79px;
  height:52px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:18px;
  width:75px;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u1974 {
  position:absolute;
  left:692px;
  top:228px;
  width:111px;
  height:52px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:18px;
  width:107px;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u1976 {
  position:absolute;
  left:803px;
  top:228px;
  width:83px;
  height:52px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:52px;
}
#u1978 {
  position:absolute;
  left:886px;
  top:228px;
  width:114px;
  height:52px;
}
#u1979 {
  position:absolute;
  left:2px;
  top:18px;
  width:110px;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:52px;
}
#u1980 {
  position:absolute;
  left:1000px;
  top:228px;
  width:78px;
  height:52px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:52px;
}
#u1982 {
  position:absolute;
  left:1078px;
  top:228px;
  width:89px;
  height:52px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u1984 {
  position:absolute;
  left:1167px;
  top:228px;
  width:97px;
  height:52px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u1986 {
  position:absolute;
  left:1264px;
  top:228px;
  width:97px;
  height:52px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u1988 {
  position:absolute;
  left:1361px;
  top:228px;
  width:100px;
  height:52px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:280px;
  width:74px;
  height:60px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:60px;
}
#u1992 {
  position:absolute;
  left:74px;
  top:280px;
  width:78px;
  height:60px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:22px;
  width:74px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u1994 {
  position:absolute;
  left:152px;
  top:280px;
  width:105px;
  height:60px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u1996 {
  position:absolute;
  left:257px;
  top:280px;
  width:80px;
  height:60px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:60px;
}
#u1998 {
  position:absolute;
  left:337px;
  top:280px;
  width:161px;
  height:60px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:22px;
  width:157px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:60px;
}
#u2000 {
  position:absolute;
  left:498px;
  top:280px;
  width:115px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u2000_img.mouseOver {
}
#u2000.mouseOver {
}
#u2001 {
  position:absolute;
  left:2px;
  top:22px;
  width:111px;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:60px;
}
#u2003 {
  position:absolute;
  left:613px;
  top:280px;
  width:79px;
  height:60px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:22px;
  width:75px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:60px;
}
#u2005 {
  position:absolute;
  left:692px;
  top:280px;
  width:111px;
  height:60px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:22px;
  width:107px;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:60px;
}
#u2007 {
  position:absolute;
  left:803px;
  top:280px;
  width:83px;
  height:60px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:22px;
  width:79px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
}
#u2009 {
  position:absolute;
  left:886px;
  top:280px;
  width:114px;
  height:60px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:22px;
  width:110px;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:60px;
}
#u2011 {
  position:absolute;
  left:1000px;
  top:280px;
  width:78px;
  height:60px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:22px;
  width:74px;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
}
#u2013 {
  position:absolute;
  left:1078px;
  top:280px;
  width:89px;
  height:60px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:14px;
  width:85px;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:60px;
}
#u2015 {
  position:absolute;
  left:1167px;
  top:280px;
  width:97px;
  height:60px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:60px;
}
#u2017 {
  position:absolute;
  left:1264px;
  top:280px;
  width:97px;
  height:60px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2019 {
  position:absolute;
  left:1361px;
  top:280px;
  width:100px;
  height:60px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u2021 {
  position:absolute;
  left:1384px;
  top:481px;
  width:33px;
  height:20px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u2023 {
  position:absolute;
  left:1384px;
  top:428px;
  width:33px;
  height:20px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u2025 {
  position:absolute;
  left:1384px;
  top:536px;
  width:33px;
  height:20px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u2027 {
  position:absolute;
  left:1384px;
  top:587px;
  width:33px;
  height:20px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u2029 {
  position:absolute;
  left:1384px;
  top:642px;
  width:33px;
  height:20px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2031 {
  position:absolute;
  left:1507px;
  top:428px;
  width:16px;
  height:17px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u2033 {
  position:absolute;
  left:1466px;
  top:430px;
  width:22px;
  height:16px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2035 {
  position:absolute;
  left:1507px;
  top:479px;
  width:16px;
  height:17px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2037 {
  position:absolute;
  left:1507px;
  top:534px;
  width:16px;
  height:17px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u2039 {
  position:absolute;
  left:1466px;
  top:536px;
  width:22px;
  height:16px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2041 {
  position:absolute;
  left:1507px;
  top:587px;
  width:16px;
  height:17px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u2043 {
  position:absolute;
  left:1466px;
  top:589px;
  width:22px;
  height:16px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2045 {
  position:absolute;
  left:1507px;
  top:642px;
  width:16px;
  height:17px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u2047 {
  position:absolute;
  left:1466px;
  top:644px;
  width:22px;
  height:16px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
  background:inherit;
  background-color:rgba(113, 71, 175, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2049 {
  position:absolute;
  left:653px;
  top:713px;
  width:197px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2050 {
  position:absolute;
  left:0px;
  top:9px;
  width:195px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u2051 {
  position:absolute;
  left:1466px;
  top:479px;
  width:22px;
  height:16px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1543px;
  height:51px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2053 {
  position:absolute;
  left:38px;
  top:843px;
  width:1543px;
  height:51px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2054 {
  position:absolute;
  left:2px;
  top:18px;
  width:1539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:12px;
}
#u2055 {
  position:absolute;
  left:1172px;
  top:916px;
  width:409px;
  height:12px;
  font-size:14px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:-2px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2057 {
  position:absolute;
  left:172px;
  top:861px;
  width:202px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2059 {
  position:absolute;
  left:425px;
  top:861px;
  width:202px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2061 {
  position:absolute;
  left:696px;
  top:861px;
  width:202px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2063 {
  position:absolute;
  left:1002px;
  top:861px;
  width:202px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2065 {
  position:absolute;
  left:1317px;
  top:861px;
  width:202px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2068 {
  position:absolute;
  left:883px;
  top:37px;
  width:40px;
  height:40px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2070 {
  position:absolute;
  left:893px;
  top:46px;
  width:21px;
  height:21px;
  color:#CCCCCC;
}
#u2071 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2073 {
  position:absolute;
  left:836px;
  top:37px;
  width:40px;
  height:40px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2075 {
  position:absolute;
  left:841px;
  top:41px;
  width:30px;
  height:30px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u2083 {
  position:absolute;
  left:646px;
  top:42px;
  width:170px;
  height:30px;
  font-size:14px;
}
#u2084 {
  position:absolute;
  left:15px;
  top:7px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085 {
  position:absolute;
  left:649px;
  top:45px;
  width:164px;
  height:24px;
}
#u2085_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:24px;
  background-color:#E3D9EF;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u2086 {
  position:absolute;
  left:795px;
  top:48px;
  width:15px;
  height:17px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u2088 {
  position:absolute;
  left:829px;
  top:77px;
  width:51px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u2090 {
  position:absolute;
  left:880px;
  top:77px;
  width:43px;
  height:37px;
  font-size:10px;
  text-align:center;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:144px;
  background:inherit;
  background-color:rgba(227, 217, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:7px 7px 7px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u2092 {
  position:absolute;
  left:614px;
  top:79px;
  width:309px;
  height:144px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u2093 {
  position:absolute;
  left:35px;
  top:16px;
  width:254px;
  word-wrap:break-word;
}
