body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:777px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:457px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 2px 2px 1px 0px rgba(204, 204, 204, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 2px 2px 1px 0px rgba(204, 204, 204, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 2px 2px 1px 0px rgba(204, 204, 204, 0.349019607843137) inset;
}
#u801 {
  position:absolute;
  left:93px;
  top:185px;
  width:684px;
  height:457px;
}
#u802 {
  position:absolute;
  left:0px;
  top:220px;
  width:682px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u803 {
  position:absolute;
  left:93px;
  top:28px;
  width:144px;
  height:51px;
}
#u804 {
  position:absolute;
  left:0px;
  top:16px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:51px;
  background:inherit;
  background-color:rgba(95, 39, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u805 {
  position:absolute;
  left:94px;
  top:763px;
  width:683px;
  height:51px;
  font-size:14px;
  color:#FFFFFF;
}
#u806 {
  position:absolute;
  left:0px;
  top:16px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:16px;
}
#u807 {
  position:absolute;
  left:129px;
  top:779px;
  width:608px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:12px;
}
#u812 {
  position:absolute;
  left:513px;
  top:841px;
  width:257px;
  height:12px;
  font-size:14px;
}
#u813 {
  position:absolute;
  left:0px;
  top:-3px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814 {
  position:absolute;
  left:326px;
  top:276px;
  width:225px;
  height:25px;
}
#u814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u815 {
  position:absolute;
  left:326px;
  top:311px;
  width:225px;
  height:25px;
}
#u815_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:162px;
  top:270px;
  width:154px;
  height:26px;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  position:absolute;
  left:162px;
  top:313px;
  width:154px;
  height:26px;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u820 {
  position:absolute;
  left:326px;
  top:346px;
  width:225px;
  height:25px;
}
#u820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u821 {
  position:absolute;
  left:326px;
  top:378px;
  width:225px;
  height:25px;
}
#u821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  position:absolute;
  left:162px;
  top:350px;
  width:154px;
  height:26px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u824 {
  position:absolute;
  left:162px;
  top:384px;
  width:154px;
  height:26px;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u826 {
  position:absolute;
  left:326px;
  top:414px;
  width:225px;
  height:25px;
}
#u826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:162px;
  top:422px;
  width:154px;
  height:26px;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u829 {
  position:absolute;
  left:116px;
  top:208px;
  width:172px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  position:absolute;
  left:162px;
  top:458px;
  width:154px;
  height:26px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u833 {
  position:absolute;
  left:320px;
  top:458px;
  width:128px;
  height:16px;
}
#u834 {
  position:absolute;
  left:16px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u833_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u835 {
  position:absolute;
  left:320px;
  top:484px;
  width:121px;
  height:16px;
}
#u836 {
  position:absolute;
  left:16px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u835_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u837 {
  position:absolute;
  left:472px;
  top:484px;
  width:238px;
  height:16px;
}
#u838 {
  position:absolute;
  left:16px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u837_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u839 {
  position:absolute;
  left:320px;
  top:510px;
  width:245px;
  height:16px;
}
#u840 {
  position:absolute;
  left:16px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u839_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u841 {
  position:absolute;
  left:472px;
  top:510px;
  width:168px;
  height:16px;
}
#u842 {
  position:absolute;
  left:16px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u841_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u843 {
  position:absolute;
  left:472px;
  top:458px;
  width:185px;
  height:16px;
}
#u844 {
  position:absolute;
  left:16px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u843_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  background:inherit;
  background-color:rgba(113, 71, 175, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u845 {
  position:absolute;
  left:386px;
  top:564px;
  width:123px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u846 {
  position:absolute;
  left:0px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  background:inherit;
  background-color:rgba(113, 71, 175, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u847 {
  position:absolute;
  left:253px;
  top:564px;
  width:123px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u848 {
  position:absolute;
  left:0px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
  background:inherit;
  background-color:rgba(113, 71, 175, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u849 {
  position:absolute;
  left:519px;
  top:564px;
  width:123px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u850 {
  position:absolute;
  left:0px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
